@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');
body {
  background-color: #242424;
  font-family: 'Lexend', sans-serif;
  
}
a {
  text-decoration: none;
}

::placeholder {
  color: white;
}

.active {
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


.icons:hover {
  scale: 1.1;
  
}
#loggabild{
 background-color: rgb(241, 198, 6);
 border-radius: 50%;
 width: 40px;
  height: 40px;

}

.navbarlänk {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;

}
.navbarlänk:hover {
  scale: 1.1;
  color:rgb(241, 198, 6);
}
/* navbar för mobil */
.hamburger-container {
  cursor: pointer;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Lexend', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: semi-bold;
  margin-right: -110px;
  transition: 1s;
}





/*LANIDNG PAGE*/
.landing-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.landing-page{
  height: 80vh;
  width: 100%;
  background-image: url(./imgs/chase-fade-XOLIrILp-vI-unsplash.jpg);
  background-size: cover;
}

.store-name-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.highlighted-letter {
  color: rgb(236, 194, 6);
}

.btn-container {
  display: flex;
  width: 400px;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.btn-container button {
  background-color:rgb(249, 204, 2);
  border: none;
  padding: 0.5rem;
  font-size: 15px;
  width: 12em;
  border-radius: 16px;
  color: black;
  box-shadow: 0 0.2rem #797916;
  cursor: pointer;
}

.btn-container .custom-login-btn {
  background-color: rgba(255, 255, 255, 0.212);
  box-shadow: 0 0.2rem #0303016e;
}

.btn-container button:active {
  color: white;
  box-shadow: 0 0.2rem #797916;
  transform: translateY(0.3rem);
}

.btn-container button:hover:not(:disabled) {
  background-color: rgb(236, 194, 6);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.btn-container button:disabled {
  cursor: auto;
  color: grey;
}


/* FILTER NAV*/
#filterbar{
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 24px 0 rgb(31, 31, 31);
  background-color: rgb(41, 41, 41) !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* PRODUCT LIST CARDS */
.sökknappar{
  font-weight: 600;
  color: white;
  background-color:rgb(249, 204, 2);
  
  padding: 5px;
  border-radius: 10px;
  width: 100px;
}
.sökknapparaktiverad{
  background-color: black;
  color: rgb(251, 214, 4);;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
}

/*PRODDUCTS*/
#productUL {
  box-shadow: 0 1px 24px 0 rgb(31, 31, 31);
  background-color: rgb(41, 41, 41) !important;
  padding:20px;
  width: 97vw;
  min-height: 10vw;
  display: flex;
  padding-left: 6%;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 40px;
  border-radius: 20px;
}

.productcard{

  background-color: rgb(51, 51, 51) ;  
  min-height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(250, 255, 113, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  overflow: hidden;
  
}

.productListItem { /*prduct picture*/
  margin-top: 20px;
  width: 250px;
  height: 250px;
  background-size: contain;
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(250, 255, 113, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
 
}.productsinfotext{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.albumTitle {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  color: white;
  font-size: 20px;
  text-overflow: clip;  
  overflow: hidden;
}

.albumInfo {
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.priceTag {
  margin-top: 20px ;
  font-weight: 600;
  font-size: 16px;
  color: rgb(212, 212, 212);
  margin-bottom: 10px;
}

button.buyBtn {
  font-weight: 600;
  color: white;
  background-color: rgb(249, 204, 2);
  margin: 20px;
  padding: 10px;
  min-width: 150px;
  border-radius: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button.buyBtn:hover {
  background-color: rgb(255, 231, 95);
  color: black;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button.buyBtn:active {
  background-color: rgb(207, 176, 2);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}


.seemorebutton {
  margin: 20px;
  color:rgb(153, 153, 153);
  width: 200px;
  padding: 15px;
  font-size: 18px;
  border-radius: 0.5em;
 }
.seemorebutton:hover{
  margin: 20px;
  color:rgb(236, 194, 6);
  width: 200px;
  padding: 15px;
  font-size: 18px;
  border-radius: 0.5em;
 }

/*ADD BANNER*/
.reklambanner{
  background-image: url(../imgs/backgrund.png);
  background-size: cover;
 
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(255, 255, 255);;
}
#reklamtext{
  background-color: transparent;
  border-radius: 10px;


  backdrop-filter: blur(5px);
}

/*GIFT CARD*/
#Presentkort{
  
  background-image: url(../imgs/people.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#presentkortinnehåll{
  color: white;


  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 24px;

}
#presentkorttext{
  width: 300px;
  color: white;
  background-color: transparent;
  border-radius: 10px;


  backdrop-filter: blur(5px);
}

#presentkortkort{
  background-image: url(../imgs/kort.png);
  border: 1px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 border: solid 1px black;
 background-color: grey;
 border-radius: 10px;
 width: 400px;
 height: 250px;
 margin-top: 200px;


}
#presentkortdiv{
  
 
  background-color: #333333;
  
  
  display: flex;
  flex-direction: column;
 align-items: center;
  text-align: center;
  width: 100%;
  min-height: 110vh;
  scroll-behavior: smooth;
  transition: 5s;
}
#giftcardtextdiv{
  margin-top: 15vh;
  margin-bottom: 200px;
  padding: 30px;
  width: 60%;
  
  background: rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#giftcardtext{
  




  font-size: 20px;
  
  color: white;
  
}
#giftcardspan{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  background-color:rgb(236, 194, 6);
}

/*FOOTER*/
.SocialLogos svg, .PaymentContainer svg{
  width: 25px;
  height: 25px;
}
.FooterContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.phone-container{
  display: flex;
  margin: 20px;
  /* justify-content: space-between; */
}
.CustomerService{
  display: flex;
  margin-right: 50px;
}
.rightContainer{
  margin-top: 6px;
  display: flex;
  justify-content: space-evenly;

} 
.payHeadline{
  width: 100%;

} 
#locationdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  color: white;
  font-size: 18px;
  flex-shrink: 1;

}
.locations{
  
  transition: 0.5s;
}
.locations:hover{
  color: rgb(236, 194, 6);
  scale: 1.1;
  
}

.socialContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SocialLogos {
  /* width: 100%;
  display: flex;
  margin-top: 2px ; */
}



::-webkit-scrollbar-thumb:hover {
  background-color: rgb(241, 198, 6);
}

::-webkit-scrollbar-track {
  background-color: #afafaf;
}


/* CART */


@media (max-width: 800px) {
  .form__row {
    flex-direction: column-reverse;
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h4 {
  margin-top: 0;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #0b0b0b;
  outline: none;
  
}
.imagePreview {
  margin-top: 20px;
  border-radius: 20px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
 
}
.backLink {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}
.updateButton {
  display: block;
  width: 100px;
  padding: 10px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}
/* MANAGE PRODUCTS KNAPP */
#submitbtnlösen{
  font-weight: 600;
  color: white;
  background-color:rgb(249, 204, 2);
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  min-width: 140px;


}
#createproductnavigering {

  height: 40px;
  display: flex;
  align-items: center;

  transition: 0.5s;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  min-width: 120px;
  padding: 10px;

  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#createproductnavigering:hover {
  scale: 1.1;
}

#uppdateraKnapp {
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #04AA6D;
  text-align: center;
 
  font-weight: bold;
  text-decoration: none;
  height: 35px;
  width: 64px;
  margin-bottom: 5px;

}
#uppdateraKnapp:active {
  transform: scale(0.9);
}



#carthoverdiv {
  position: fixed;
  top: 7vh;
  right: 1vw;
  width: 500px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  z-Index: 9999;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 1.5s;
}

.DeleteButton:hover {
  background-color: #4a4e52;
}

.DeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 85px;
  text-align: center;
  border-radius: 4px;
  background-color: #921616;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}

#carthoverdiv {
 
  border-collapse: collapse;
  border-bottom: 1px solid lightgrey;

}#checkouth1{
  margin-top: 100px;
  margin-bottom: 50px;
  color: white; 
  font-size: 60px;
  font-family: 'Lexend', sans-serif;
}
#checkoutdiven{

  position: absolute;
}
#checkoutknapp {
  all: unset;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #04AA6D;
  text-align: center;
  padding: 0;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
  height: 25px;

}
.cart__container{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
 
}
.cart__img{
  height: 100px;
  width: 100px;
}

#carthoverdiv td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid lightgrey;
}

.cart__empty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#checkoutcontainer{
  height: 200vh;
}
#formcontainer{
  background: rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;

  display: flex;
 
justify-content: center;
  flex-direction: row;
  width: 90%;
  min-height: 100vh;
  margin-bottom: 100px;

}
#knappcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  gap: 10px;
 

}
.form-section{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#checkoutform{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.inputcheckout{
 border: 2px solid rgb(131, 131, 131);
 font-size: 15px;
}
#cartPrice{
  margin-top: 20px;
  margin-bottom: 10px;
}
#orderbild{
  height: 100%;
  width: 100%;
}

/*LANIDNG PAGE*/
.landing-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing-page{
  height: 90vh;
  width: 100%;
  background-image: url(./imgs/chase-fade-XOLIrILp-vI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.in-pic-container{
  display: flex;
    flex-direction: column;
  height: 150px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  color: white;
}

.store-name-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.highlighted-letter {
  color: rgb(236, 194, 6);
}

.btn-container {
  display: flex;
  width: 400px;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.btn-container button {
  background-color:rgb(249, 204, 2);
  border: none;
  padding: 0.5rem;
  font-size: 15px;
  width: 12em;
  border-radius: 16px;
  color: white;
  box-shadow: 0 0.2rem #797916;
  cursor: pointer;
}

.btn-container .custom-login-btn {
  background-color: rgba(255, 255, 255, 0.212);
  box-shadow: 0 0.2rem #0303016e;
}

.btn-container button:active {
  color: white;
  box-shadow: 0 0.2rem #797916;
  transform: translateY(0.3rem);
}

.btn-container button:hover:not(:disabled) {
  background-color: rgb(236, 194, 6);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.btn-container button:disabled {
  cursor: auto;
  color: grey;
}
/*FOOTER*/
.FooterTop {
  background: black;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:flex-end;
  flex-direction: row;
  background-color: black;
}

.FooterContent {
  padding: 3vw;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}


.CustomerService, .PaymentContainer {
  display: flex;
  flex-direction: column;
}

.CustomerService, .PaymentContainer > * {
  margin-top: 5px;
  text-align: left;
}

.CustomerService:hover {
  cursor: pointer;
}
.rightContainer{
  display: flex;
  flex-direction: row;
  justify-content:center;
  height: 130px;
  width: 300px;
}
.PaymentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
  
}

.payHeadline {
  justify-content: center;
}

.SocialLogos {
  display: flex;
}

.SocialLogos > * {
  margin-top: 10px;
  text-align: left;
}

.SocialLogos:hover {
  cursor: pointer;
}

.SocialLogos > * {
  margin-right: 10px;
}

.SocialLogos > svg:nth-of-type(1):hover {
  fill: pink;
}

.SocialLogos > svg:nth-of-type(2):hover {
  fill: #00acee;
}

.SocialLogos > svg:nth-of-type(3):hover {
  fill: #3b5998;
}

.SocialLogos > svg:nth-of-type(4):hover {
  fill: limegreen;
}


/*ABOUT*/
#aboutdiv{
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  

}
#aboutusH1{
 color: rgb(255, 255, 255);
 opacity: 0.75;

 font-weight: 700;
  margin-top: 40vh;
  font-size: 60px;
  transition: 0.5s;
 
  
}
#aboutusH1:hover{
  opacity: 1;
  scale: 1.1;

}
.mouse {
  margin-top: 41vh;
  margin-left: 15px;
	width: 30px;
	height: 50px;
	border: 3px solid rgb(249, 204, 2);;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgb(249, 204, 2);
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}


@keyframes wheel {
  from {
    opacity: 0;
    top: 60px;
  }
  to {
    opacity: 1;
    top: 10px;
  }
}

@-webkit-keyframes wheel {
  from {
    opacity: 0;
    top: 60px;
  }
  to {
    opacity: 1;
    top: 10px;
  }
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid rgb(249, 204, 2);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid rgb(249, 204, 2);
  	border-bottom: 2px solid rgb(249, 204, 2);
		transform: rotate(-45deg);
	}
}

@keyframes up {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes up {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translate(0);
  }
}

#parallax{
  background-image: url(https://i.redd.it/x46ev4tgzyu51.jpg);
  min-height: 95vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-bottom: -50px;

}

#parallax2{
  background-image: url(https://www.billboard.com/wp-content/uploads/media/the-beatles-shea-stadium-billboard-1548.jpg?w=942&h=623&crop=1);
  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px ;

}
#parallaxtextdiv{
  padding-top: 100px;
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
  justify-content: flex-start;
  flex-direction: column;

  font-size: 20px;

  height: 600px;

}
#parallaxP{

  width: 80%;
  margin: 40px;
  color: white;
}
#contactwrapper{
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.contactdiv{
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.contacticons{
  color: white;
}
.contacticons:hover{
  color: rgb(249, 204, 2);;
}

@media only screen and (max-width: 992px) {
  #loggabild{
    
   width: 25px;
   height: 25px;
   margin-right: 20px;

   }
   .landing-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
   .store-name-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
  }
  .in-pic-container{ 
    height: 150px;
    width: 350px;
    text-align: center;
  }
  .btn-container {
    width: 200px;
  }

  #filterbar{
    height: 11vh;
    width: 100%;
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 15px;
  }
  .sökknappar{
    font-weight: 600;
    color: white;
    background-color:rgb(249, 204, 2);
    padding: 5px 10px;
    border-radius: 10px;
    width: 65px;
    font-size: 15px;
  }
  .sökknapparaktiverad{
    background-color: black;
    color: rgb(251, 214, 4);;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    width: 65px;
    font-size: 15px;
  }

  .productcard{ 
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  
  }
  .productListItem { /*prduct picture*/
    margin-top: 0;
    width: 100px;
    height: 100px;
    background-size: contain;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(250, 255, 113, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   
  }.productsinfotext{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .albumTitle {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  
  .albumInfo {
   display: none;
  }
  .priceTag {
    margin-top: 0;
    font-weight: 600;
    font-size: 13px;
    color: rgb(212, 212, 212);
    margin-bottom: 10px;
  }
  button.buyBtn{
    font-weight: 600;
    color: white;
    background-color:rgb(249, 204, 2);
    margin: 0;
    padding: 3px;
    min-width: 110px;
    border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  button.buyBtn:focus,
  button.buyBtn:active {
  background-color: rgb(249, 204, 2);
  box-shadow: none;
  transform: scale(0.98);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  }

  .buyBtn:focus:not(:active) {
    transform: scale(1);
  }
#presentkortdiv{
  
}
#presentkort{

}


  #presentkortkort{
    background-image: url(../imgs/kort.png);
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   border: solid 1px black;
   background-color: grey;
   border-radius: 10px;
   width: 300px;
   height: 200px;
   margin-top: 100px;
  }
  #giftcardtext{
    margin-top: 3vh;
   
  
  
    font-size: 16px;
    width: 100%;
    color: white;
    
  }
  #giftcardtextdiv{
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 20px;
    width: 85%;
    
    
    
  }
  #locationdiv{
   
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 15px;
  
  }

  .FooterContent{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .footerheadline, .logoContainer{
    font-size: 15px;
    width: 100%;
    }
  .phone-container{
    display: flex;
    flex-direction: column;
    justify-content:left;
  }
  .CustomerService{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    
  }
  .rightContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    justify-content: space-around;
  }
  .payHeadline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
  }

  .socialContainer {
    height: 55px;
    display: flex;
    flex-direction: column;
  }
  .CustomerService h3,  .rightContainer h3 {
    font-size: 12px;
    flex-direction: row;
    }
    .SocialLogos {
      width: 100%;
      display: flex;
      margin-top: 2px ;
    }

    .SocialLogos svg{
      width: 20px;
      height: 20px;
    }
    .PaymentContainer svg{
      width: 16px;
      height: 16px;
    }


#checkouth1{
  margin-top: 100px;
  margin-bottom: 50px;
  color: white; 
  font-size: 40px;
  font-family: 'Lexend', sans-serif;
}
  #formcontainer{
    /* checkout */
    background: rgba(0, 0, 0, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
  
    display: flex;
   
  justify-content: center;
    flex-direction: column;
    width: 90%;
    min-height: 20vh;
    margin-bottom: 100px;
  
  }
  .cart__img{
    height: 50px;
    width: 50px;
  }
  #knappcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    font-size: 15px;
    gap: 0px;
    
  
  }
  #uppdateraKnapp {
    
   
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    height: 20px;
    font-size: 10px;
    width: 40px;
  
  }
  #carthoverdiv {
  
    width: 350px;
   
  }
 
  #orderbild{
    height: 100%;
    width: 100%;
  }
  #parallaxtextdiv{
    padding-top: 100px;
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
    justify-content: flex-start;
    flex-direction: column;
  
    font-size: 20px;
  
    height: 1000px;
  
  }
  #aboutusH1{
     font-size: 40px;
   }
   .mouse {
    margin-top: 40.5vh;
    
    width: 25px;
    height: 40px;
    border: 3px solid rgb(249, 204, 2);;
    border-radius: 60px;
    position: relative;
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(249, 204, 2);
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }
  
  
  @keyframes wheel {
    from {
      opacity: 0;
      top: 60px;
    }
    to {
      opacity: 1;
      top: 10px;
    }
  }
  
  @-webkit-keyframes wheel {
    from {
      opacity: 0;
      top: 60px;
    }
    to {
      opacity: 1;
      top: 10px;
    }
  }
  
  .scroll {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(249, 204, 2);
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 2px solid rgb(249, 204, 2);
      border-bottom: 2px solid rgb(249, 204, 2);
      transform: rotate(-45deg);
    }

  }
  
  
  
  
  
  

}